.main_container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.form_box {
    height: 50px;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #4b4a4a;
    padding: 10px;
}

img {
    width: 8%;
    float: left;
    background: transparent;
}

form>p,span {
    color: white;
}

form {
    padding-top: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 90%;
    height: 40px;
}

form>p {
    display: inline-block;
    margin: 0px;
    font-weight: bold;
    font-size: larger;
    margin-top: 5px;
}

form>input {
    margin-left: 15px;
    width: 23%;
}

form>input::placeholder {
    color: black;
}

form>input:last-child {
    float: right;
    width: 15%;
    height: 35px;
    border: none;
    margin: 0px;
    background-color: transparent;
    background-image: url('images/go button.png');
    background-repeat: no-repeat;
    background-position: right;
}

.detail_box {
    color: grey;
    padding: 15px;
    background-color: #3B3B3B;
    box-shadow: 0px -5px 7px 0px #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.detail_box>p {
    margin: 0px;
}

.detail_box>h3 {
    margin-top: 5px;
    color: #F8D418;
}